/* style for publications*/
td.icon{
	width:"10%";
	text-align:center;
}

td.title{
	width:"30%";
}

td.abstract{
	width:"60%";
	font-size:16px;
}

img.shadow{
	padding:10px;
	border:1px solid #000;
	-moz-box-shadow:3px 3px 4px #000;
	-webkit-box-shadow:3px 3px 4px #000;
	box-shadow:3px 3px 4px #000;
	background:#fff;
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
} 
