/* style file */

body{
	background-color:#FFFFFF;
}

a,p,tr,ul{
	font-family:'Times New Roman',Times, serif;
	font-size:20px;
}

h1{
	background-color:#FFCC33; 
	text-indent:1em; 
	font-family:'Times New Roman', Times, serif; 
	font-size:36px;
	padding:10px;
}

h2,h3,h4,h5,h6{
	background-color:#CFDFE7; 
	text-indent:1em; 
	font-family:'Times New Roman', Times, serif; 
	font-size:24px;
	padding:8px;
}

ul.square{
	list-style-type:square;
}

ul.disc{
	list-style-type:disc;
}